* {
    border: 2px solid blue;
}
body {
    text-align: center;
}
h1 {
    text-align: center;
}

main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
nav, footer {
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 10px;
    
}

a:hover {
    background-color: white;
    color: steelblue;
}
img{
    width: 80%;
    display: block;
    margin: 0 auto;
}
footer p {
    font-size: 1.5em;
    margin: 20px auto;
}
